@use "palettes.scss";

body {
  margin: 0; /* Remove default body margins */
  font-family: sans-serif; /* Use a default font */
  display: flex; /* Enable flexbox for vertical centering */
  flex-direction: column; /* Stack content vertically */
  min-height: 100vh; /* Ensure body covers full viewport height */
  overflow-x: hidden; /* Prevent horizontal scrolling on body */
  overflow-y: hidden; /* Prevent horizontal scrolling on body */
  font-family: monospace;
  font-size: 1.5em;
}

#app-container {
  width: 640px; /* Set a maximum width for larger screens */
  margin: 0px auto; /* Center the container horizontally with top/bottom margins */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  flex: 1 0 auto; /* Prevent content from shrinking */
  position: relative;

  >div.page {
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
}

/* Styles for smaller screens (phones) */
@media (max-width: 640px) { /* Adjust breakpoint as needed */
  #app-container {
    max-width: 100%; /* Full width on smaller screens */
  }
}

.hidden {
  display: none;
}

#welcome-page {
  width: 100%;
  position: absolute;
  display: flex; 
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#game-page {
  position: relative;
  >div {
    width: 100%;
  }

  #board-banner {
    margin: 40px 5px 5px;
    position: relative;
    width: 100%;
  }

  #board-banner>span {
    display: inline-block;
    width: 33%;
  }

  #num-keyboard {
    // TODO: Update colors here.
    position: absolute;
    width: 200px;
    z-index: 100;
    background: white;
    border-radius: 20px;
    border: darkgray 2px solid;
    padding: 12px;

    #draft-mode-line {
      vertical-align: middle;
      height: 26px;
      line-height: 26px;
      margin-bottom: 12px;
    }

    .keyboard {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      width: 100%;
      margin: 0px auto;
    }
    
    .key {
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 5px;
      user-select: none;
      background-color: #f0f0f0;
      transition: 
        background-color 0.2s ease, 
        color 0.2s ease, 
        border-color 0.2s ease;
    }

    .key.highlight {
      color: var(--color-highlight-fg);
      border-color: var(--color-highlight-fg);
    }

    .key.enabled {
      cursor: pointer;
    }

    .key.disabled {
      opacity: 0.3;
    }
    
    .key.enabled:hover {
      background-color: #e0e0e0;
    }
    
    .key.enabled:active {
      background-color: #d0d0d0;
    }
    
    .switch-container {
        margin-top: 20px;
        display: flex;
        align-items: center;
    
    }
    
    .switch {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 26px;
    }
    
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .1s;
      transition: .1s;
      border-radius: 26px;
      height: 26px;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .1s;
      transition: .1s;
      border-radius: 50%;
    }
    
    input:checked + .slider {
      background-color: var(--color-highlight-fg);
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px var(--color-highlight-fg);
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }
    .switch-label{
        margin-right: 10px;
    }
  }
}

.fading {
  transition: opacity 0.5s ease-in-out;
}

.fading-fast {
  transition: opacity 0.2s ease-in-out;
}

// So that double click won't select it.
canvas {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}
