body {
  margin: 0; /* Remove default body margins */
  font-family: sans-serif; /* Use a default font */
  display: flex; /* Enable flexbox for vertical centering */
  flex-direction: column; /* Stack content vertically */
  min-height: 100vh; /* Ensure body covers full viewport height */
  overflow-x: hidden; /* Prevent horizontal scrolling on body */
  overflow-y: hidden; /* Prevent horizontal scrolling on body */
}

#app-container {
  width: 640px; /* Set a maximum width for larger screens */
  margin: 0px auto; /* Center the container horizontally with top/bottom margins */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  flex: 1 0 auto; /* Prevent content from shrinking */
  position: relative;

  >div.page {
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
}

/* Styles for smaller screens (phones) */
@media (max-width: 640px) { /* Adjust breakpoint as needed */
  #app-container {
    max-width: 100%; /* Full width on smaller screens */
  }
}

#welcome-page {
  width: 100%;
  position: absolute;
  display: flex; 
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#game-page {
  position: relative;
  >div {
    width: 100%;
  }

  #board-banner {
    margin: 40px 5px 5px;
    position: relative;
    width: 100%;
  }

  #board-banner>span {
    display: inline-block;
    width: 33%;
  }
}

.fading {
  transition: opacity 0.5s ease-in-out;
}

// So that double click won't select it.
canvas {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}
