@use "palettes.scss";

$breakpoint: 640px;

:root {
  --scale-factor: 1;
}

body {
  padding-top: env(safe-area-inset-top);
  /* Add padding for the top safe area (notch/status bar) */
  padding-bottom: env(safe-area-inset-bottom);
  /* Add padding for the bottom safe area (home indicator on some iPhones) */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  margin: 0;
  /* Remove default body margins */
  font-family: sans-serif;
  /* Use a default font */
  display: flex;
  /* Enable flexbox for vertical centering */
  flex-direction: column;
  /* Stack content vertically */
  min-height: 100vh;
  /* Ensure body covers full viewport height */
  overflow-x: hidden;
  /* Prevent horizontal scrolling on body */
  overflow-y: hidden;
  /* Prevent horizontal scrolling on body */
  // So that double-click won't select any items.
  user-select: none;
  background-color: var(--color-bg);
}

#app-container {
  width: $breakpoint;
  /* Set a maximum width for larger screens */
  margin: 0px auto;
  /* Center the container horizontally with top/bottom margins */
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
  flex: 1 0 auto;
  /* Prevent content from shrinking */
  position: relative;

  @media (max-width: $breakpoint) {
    max-width: 100%;
    /* Full width on smaller screens */
  }

  >div.page {
    opacity: 0;
    z-index: -100;

    &.visible {
      opacity: 1;
      z-index: 0;
    }
  }
}

.hidden {
  z-index: -200 !important;
  opacity: 0 !important;
}

#init-page {
  flex-direction: column;
  width: 100%;
  position: absolute;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &>div {
    font-size: 2em;
    width: 30%;
    text-align: center;
    padding: 20px;
    margin: 40px;
  }
}

#loading-page {
  width: 100%;
  position: absolute;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.btn-default {
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  user-select: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  &.highlight {
    color: var(--color-highlight-fg);
    border-color: var(--color-highlight-fg);
  }

  &.enabled {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.3;
  }

  &.enabled:hover {
    background-color: #F2EAE0;
  }

  &.enabled:active {
    background-color: #d0d0d0;
  }
}

#game-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  >div {
    box-sizing: border-box;
  }

  #notification {
    position: absolute;
    text-align: center;
    width: 100%;
    color: var(--color-draft);
    transition: 0.7s ease-in-out;
  }

  #board-banner {
    padding: 0px 16px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #board-banner>span {
    display: inline-block;
  }

  #board {
    margin: -8px 0 -8px;
  }

  #num-keyboard {
    // TODO: Update colors here.
    position: absolute;
    width: calc(200px * var(--scale-factor));
    z-index: 100;
    background: var(--color-bg);
    border-radius: calc(20px * var(--scale-factor));
    border: darkgray calc(2px * var(--scale-factor)) solid;
    padding: calc(12px * var(--scale-factor));

    #draft-mode-line {
      vertical-align: middle;
      height: calc(26px * var(--scale-factor));
      line-height: calc(26px * var(--scale-factor));
      margin-bottom: calc(12px * var(--scale-factor));
      font-size: calc(1em * var(--scale-factor));
    }

    .keyboard {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(10px * var(--scale-factor));
      width: 100%;
      margin: 0px auto;
    }

    .key {
      font-family: monospace;
      font-size: calc(36px * var(--scale-factor));
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .switch-container {
      margin-top: 20px;
      display: flex;
      align-items: center;

    }

    .switch {
      position: relative;
      display: inline-block;
      width: calc(48px * var(--scale-factor));
      height: calc(26px * var(--scale-factor));
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .1s;
      transition: .1s;
      border-radius: calc(26px * var(--scale-factor));
      height: calc(26px * var(--scale-factor));
    }

    .slider:before {
      position: absolute;
      content: "";
      height: calc(18px * var(--scale-factor));
      width: calc(18px * var(--scale-factor));
      left: calc(4px * var(--scale-factor));
      bottom: calc(4px * var(--scale-factor));
      background-color: white;
      -webkit-transition: .1s;
      transition: .1s;
      border-radius: 50%;
    }

    input:checked+.slider {
      background-color: var(--color-highlight-fg);
    }

    input:focus+.slider {
      box-shadow: 0 0 1px var(--color-highlight-fg);
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(calc(22px * var(--scale-factor)));
      -ms-transform: translateX(calc(22px * var(--scale-factor)));
      transform: translateX(calc(22px * var(--scale-factor)));
    }

    .switch-label {
      margin-right: 10px;
    }
  }

  #board-buttons {
    margin: 4px;
    padding: 24px 0;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;

    &>span {
      display: inline-block;
      min-width: 120px;
      width: 18%;

      @media (max-width: 600px) {
        & {
          flex-basis: 34%;
        }
      }
    }
  }
}

.fading {
  transition: opacity 0.5s ease-in-out;
}

.fading-fast {
  transition: 0.08s ease-in-out;
}

#build-info {
  text-align: right;
  padding-right: 10px;
  font-size: 10px;
  color: lightgray;
  position: fixed;
  bottom: 0;
  right: 0;
}