:root {
  --color-prefilled: black;
  --color-solved: black;
  --color-draft: black;
  --color-highlight-fg: black;
  --color-highlight-bg1: black;
  --color-highlight-bg2: black;
  --color-bg: black;

  // Default palettes.
  --default-color-prefilled: #050505;
  --default-color-solved: #156363;
  --default-color-draft: #447862;
  --default-color-highlight-fg: #007896;
  --default-color-highlight-bg1: #dcc1c3;
  --default-color-highlight-bg2: #dcd1d180;
  --default-color-bg: #fefefe;
}
