:root {
  --color-prefilled: white;
  --color-solved: white;
  --color-draft: white;
  --color-highlight-fg: white;
  --color-highlight-bg1: white;
  --color-highlight-bg2: white;
  --color-bg: white;

  // Default palettes.
  --default-color-prefilled: #050505;
  --default-color-solved: #156363;
  --default-color-draft: #447862;
  --default-color-highlight-fg: #007896;
  --default-color-highlight-bg1: #dcc1c3;
  --default-color-highlight-bg2: #dcd1d180;
  --default-color-bg: #fefefe;
}
